                    <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title text-lowercase ct-fw-600">
                           váš růst není jen o pracovním stole
                        </h4>

                        <p>
                            Paper Hub je součástí <a href="https://www.facebook.com/pages/Paraleln%C3%AD-Polis/690647371027036">Paralelní Polis</a>, jenž nabízí pravidelný program vzdělávacích a oddechových akcí, kulinářské zázemí zajištěné Bitcoin Coffee a technické podhoubí v podobě 3D dílny MakersLab.
                        </p>
                    </div>