                    <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title text-lowercase ct-fw-600">
                            Přístup 7 dní v týdnu
                        </h4>

                        <p>
                            Každý má trochu jiný pracovní režim. Proto nabízíme různé možnosti pronájmu, od pěti hodin měsíčně po neomezený přístup, případně pevný stůl. Pokud potřebujete uspořádat malý meeting pro 5 lidí, prezentaci pro 20 klientů anebo přednášku pro 100 návštěvníků, najdeme spolu správné místo.
                        </p>
                    </div>