                    <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title text-lowercase ct-fw-600">
                            Technologie a bezpečný internet
                        </h4>

                        <p>
                            V rámci Paper Hubu můžete využívat 40 Mbps spolehlivé připojení a rychlou multifunkční tiskárnu až formátu A3. K dispozici nabízíme také zařízení na sítotisk a 3D tiskárny. 
                        </p>
                    </div>