                <div class="col-md-4">
                    <header class="ct-pageSectionHeader">
                        <h3 class="text-uppercase ct-fw-600">
                            ČLENSTVÍ V PAPER HUBU
<!--                             <small class="ct-fw-700 text-uppercase">Design is not just what it looks like. Design is how
                                it works.
                            </small> -->
                        </h3>
                    </header>
                </div>
                <div class="col-md-8">
                    <p>
                        Každý člen Paper Hubu má možnost v rozsahu zvoleného tarifu (od 300 do 3000 Kč / měsíc) využívat kterékoliv volné pracovní místo ve sdíleném 

                        prostoru, kancelářské vybavení (tisk, scan, kopírování, wifi, projekční technika etc.), kuchyňku, terasu a zvýhodněnou možnost pronájmu zasedací 

                        místnosti. Nabízíme taktéž možnost pronajmout si svůj vlastní pracovní stůl. 

                        Členství se platí pomocí kryptoměny Bitcoin, s jehož používáním vás rádi seznámíme a pomůžeme rozměnění i platbu uskutečnit.
                    </p>
                </div>