
                                <h3 class="ct-u-colorWhite ct-u-hrLeft animated add_drop_shadow" data-fx="fadeInUp">
                                    <small class="text-uppercase ct-u-colorWhite">HLEDÁTE NOVÉ ZÁŽITKY?</small>
                                    <span class="ct-fw-300">Pořád se něco děje</span>
                                </h3>
                                <p class="ct-u-colorWhite animated add_drop_shadow" data-fx="zoomInDown">Paper Hub je součástí Paralelní Polis - místa, kde se pořád něco děje. Meetupy, přednášky, workshopy jdou za sebou jako na běžícím páse.</p>
                                <a href="#send_me_something" class="btn ct-btn--rounded btn-primary text-uppercase animated ct-js-btnScroll"
                                   data-fx="fadeInUp" data-time="800">Zkuste to</a>