                                <h3 class="ct-u-colorWhite ct-u-hrLeft animated add_drop_shadow" data-fx="fadeInUp">
                                    <small class="text-uppercase ct-u-colorWhite ">HLEDÁTE VÍC NEŽ COWORKING?</small>
                                    <span class="ct-fw-300">Místo pro schůzky i nové nápady</span>
                                </h3>
                                <p class="ct-u-colorWhite animated add_drop_shadow" data-fx="zoomInDown">Sympatizujete s idejemi Paralelní Polis? Staňte se jeho stálým obyvatelem a získejte členstvím v Paper Hubu příjemné, kreativní a inovativní zázemí pro vaši práci. Nezapomeňte se posílit vynikající kávou v Bitcoin Coffee a rozšířit technické obzory ve 3D dílně MakersLab.</p>
                                <a href="#send_me_something" class="btn ct-btn--rounded btn-primary text-uppercase animated ct-js-btnScroll"
                                   data-fx="fadeInUp" data-time="800">Zkuste to</a>