                                <h3 class="ct-u-colorWhite ct-u-hrLeft animatedw add_drop_shadow" data-fx="fadeInUp">
                                    <small class="text-uppercase ct-u-colorWhite">ZAJÍMÁ VÁS PAPER HUB?</small>
                                    <span class="ct-fw-300">Den na zkoušku zdarma</span>
                                </h3>
                                <p class="ct-u-colorWhite animated add_drop_shadow" data-fx="zoomInDown">V Paper Hubu máme vždy otevřené dveře. Můžete si s námi domluvit schůzku, anebo jen tak přijít a obhlédnout si prostředí. A když už budete u nás, můžete tu rovnou strávit celý den.</p>
                                <a href="#send_me_something" class="btn ct-btn--rounded btn-primary text-uppercase animated ct-js-btnScroll"
                                   data-fx="fadeInUp" data-time="800">Zkuste to</a>
