                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="update_btc_czk_price(300)">
                                        5h / měsíc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Nejnižší členství v sobě zahrnuje 5 hodin měsíčně ve sdíleném pracovním prostoru. Tarif je ideální pro vyzkoušení, jak Vám takové pracovní prostředí vyhovuje nebo pro nárazové návštěvy.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 300 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"  onclick="update_btc_czk_price(1500)">
                                        25h / měsíc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Základní členství využijete, jestliže chcete v Paper Hubu pracovat pravidelně, ale stačí Vám na to méně než jeden den v týdnu. Tento tarif se hodí např. pro práci na určitém projektu, kterému se chcete věnovat koncentrovaně po určitý čas v měsíci.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 1500 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                       class="collapsed"  onclick="update_btc_czk_price(2000)">
                                        50h / měsíc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Rozšířené členství, které v tuto chvíli využívá nejvíce našich členů, v sobě zahrnuje kromě možnosti využívat sdílený prostor také zlevněný pronájem zasedacích místností.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 2000 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                                       class="collapsed" onclick="update_btc_czk_price(3000)">
                                        neomezený přístup
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Toto členství Vám zajistí neomezený přístup do sdíleného pracovního prostoru v rámci našich otvíracích hodin od pondělí do pátku od 8:00 do 20:00. Součástí tohoto tarifu je zamykatelná skříňka.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 3000 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                                       class="collapsed"  onclick="update_btc_czk_price(4500)">
                                        pevný pracovní stůl
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nabízíme také možnost pronajmout si svůj vlastní pracovní stůl. Toto řešení nejčastěji volí členové, kteří v Paper Hubu tráví velké množství času a při práci používají např. přídavné monitory, grafické tablety nebo jiná externí zařízení.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 4500 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                    </div>