                <div class="col-md-4">
                    <header class="ct-pageSectionHeader">
                        <h3 class="text-upperrcase ct-fw-600">
                            BITCOIN COFFEE
                            <small class="ct-fw-700 text-uppercase">Místo pro otevřené setkávání a diskuzi
                            </small>
                        </h3>
                    </header>
                </div>
                <div class="col-md-8">
                    <p>
                        Tomu odpovídá celý interiér kavárny i design baru. Můžete se kolem něj volně pohybovat a přímo tak vidět celý proces přípravy kávy. Téměř laboratorními postupy se snažíme "hacknout" kávová zrna a dostat z nich tu nejlepší chuť a aroma. Aktuální nabídku najdete <a href="https://www.facebook.com/bitcoincoffeeprague">zde</a>.<br> Těšíme se na Vás v první bitcoinové kavárně na světě!
                    </p>
                </div>