                    <div class="col-sm-4">
                        <header class="ct-pageSectionHeader">
                            <h3 class="text-uppercase ct-fw-600 ct-u-colorWhite">
                                3D tisk
                                <small class="ct-fw-700 text-uppercase ct-u-colorWhite">
                                    NAUČÍME VÁS TISKNOUT SPRÁVNĚ
                                </small>
                            </h3>
                        </header>
                    </div>
                    <div class="col-sm-8">
                        <p>
                            V Makers Lab pořádáme pravidelná setkání zaměřená na 3D tisk a vše s ním spojené. Dozvíte se zde, co je a jak funguje 3D tisk, jaký má v dnešní době potenciál a kam směřuje jeho vývoj. Můžete se také těšit na testování materiálu a tiskáren a především na přednášky zajímavých hostů. Program a bližší informace najdete <a href="http://makerslab.cz/">zde</a>.
                        </p>
                    </div>