
<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="{{site.data.website_text.website_description[page.content_language]}}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Paper hub</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


    <meta property="og:title" content="Paper Hub" />
    <meta property="og:url" content="http://paperhub.cz" />
    <meta property="og:image" content="http://paperhub.cz/assets/images/fbog.jpg" />
    <meta property="og:description" content="{{site.data.website_text.website_description[page.content_language]}}" />


    <!--[if lt IE 9]>
    <script src="/assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="/assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/modernizr.custom.js"></script>

</head>
<body class="cssAnimate ct-navbar-isTransparent-toInverse ct-navbar--fixedTop ct-js-navbarMakeSmaller ct-js-enableWayPoints">

<div class="ct-navbarMobile ct-navbarMobile--inverse">
    <a class="navbar-brand" href="/"><img src="/assets/images/pp.png" alt="Paper Hub Logo"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="ct-menuMobile">
    <ul class="ct-menuMobile-navbar">
        <li><a href="#section1" class="ct-js-btnScroll">{{site.data.website_text.menu_item_a[page.content_language]}}<i class="fa fa-angle-double-down"></i></a></li>
        <li><a href="#sendemail" class="ct-js-btnScroll">{{site.data.website_text.menu_item_b[page.content_language]}}<i class="fa fa-angle-double-down"></i></a></li>
        <li><a href="#send_me_something" class="ct-js-btnScroll">{{site.data.website_text.menu_item_c[page.content_language]}}<i class="fa fa-angle-double-down"></i></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<nav class="navbar ct-navbar--transparent ct-navbar--logoright" role="navigation">
<div class="container">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <a class="navbar-brand" href="/"><img src="/assets/images/pp.png" alt="Orlando Logo"> </a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav ct-navbarNav--defaultActive ct-navbar--fadeIn yamm">
    <li><a href="#section1" class="ct-js-btnScroll">{{site.data.website_text.menu_item_a[page.content_language]}}<i class="fa fa-angle-double-down"></i></a></li>
    <li><a href="#sendemail" class="ct-js-btnScroll">{{site.data.website_text.menu_item_b[page.content_language]}}<i class="fa fa-angle-double-down"></i></a></li>
    <li><a href="#send_me_something" class="ct-js-btnScroll">{{site.data.website_text.menu_item_c[page.content_language]}}<i class="fa fa-angle-double-down"></i></a></li>
</ul>

</div>
<!-- /.navbar-collapse -->
<div class="ct-navbar-search">
    <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Please type keywords..." required>
        </div>
        <button class="ct-navbar-search-button" type="submit">
            <i class="fa fa-search fa-fw"></i>
        </button>
    </form>
</div>
</div>
<!-- /.container -->
<style type="text/css">
    .add_drop_shadow{
/*text-shadow: 8px 8px 17px rgba(0, 0, 0, 0.81);*/
/*text-shadow: 4px 4px 12px rgba(0, 0, 0, 1);*/
/*text-shadow: 5px 5px 19px rgba(0, 0, 0, 1);*/
text-shadow: 5px 5px 9px rgba(0, 0, 0, 1);
    }

</style>


</nav>
<section class="ct-mediaSection ct-u-borderMotiveBottom" data-height="100%">
    <div class="flexslider ct-flexslider--controlsVertical ct-flexslider--controlsWhite ct-js-flexslider"
         data-animations="true" data-animationloop="true" data-height="100%">
        <ul class="slides">


        {% for slide in site.data.slides %}
            <li data-bg="{{slide.background_image}}">
                <div class="inner ct-u-paddingBoth100">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-5 ">
                            
                                    <h3 class="ct-u-colorWhite ct-u-hrLeft animatedw add_drop_shadow" data-fx="fadeInUp">
                                    <small class="text-uppercase ct-u-colorWhite">{{slide.text_small[page.content_language]}}</small>
                                    <span class="ct-fw-300">{{slide.text_big[page.content_language]}}</span>
                                </h3>
                                <p class="ct-u-colorWhite animated add_drop_shadow" data-fx="zoomInDown">{{slide.description[page.content_language]}}</p>
                                <a href="#send_me_something" class="btn ct-btn--rounded btn-primary text-uppercase animated ct-js-btnScroll"
                                   data-fx="fadeInUp" data-time="800">Zkuste to</a>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
            

        </ul>

    </div>
    <a class="ct-sectionButton ct-js-btnScroll" href="#section1"><span
            class="ct-sectionButton-circle animated pulse activate infinite"><i
            class="fa fa-angle-down animated activate bounce infinite"></i></span>Continue</a>
</section>

<section id="section1">
    <div class="container">
        <header class="ct-pageSectionHeader ct-pageSectionHeader--numbered ct-u-marginTop100 ct-u-marginBottom70 ">
            <h2 class="ct-fw-600">
                <span class="text-uppercase">paper hub v paralelní polis</span>
                <small class="ct-u-colorMotive ct-fw-300">Víme, co potřebujete pro vaši práci.</small>
            </h2>
        </header>
        <div class="row">
            <div class="col-sm-4 col-md-4 ct-u-marginBottom70">
                <div class="ct-iconBox ct-iconBox--default">
                    <div class="ct-iconBox-icon ct-iconBox-icon--default">
                        <i class="icon-cloud"></i>
                    </div>

                                        <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title text-lowercase ct-fw-600">
                            Technologie a bezpečný internet
                        </h4>





                        <p>
                            V rámci Paper Hubu můžete využívat 40 Mbps spolehlivé připojení a rychlou multifunkční tiskárnu až formátu A3. K dispozici nabízíme také zařízení na sítotisk a 3D tiskárny. 
                        </p>
                    </div>


                </div>
            </div>
            <div class="col-sm-4 col-md-4 ct-u-marginBottom70">
                <div class="ct-iconBox ct-iconBox--default">
                    <div class="ct-iconBox-icon ct-iconBox-icon--default">
                        <i class="icon-clock"></i>
                    </div>

                                        <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title text-lowercase ct-fw-600">
                            Přístup 7 dní v týdnu
                        </h4>

                        <p>
                            Každý má trochu jiný pracovní režim. Proto nabízíme různé možnosti pronájmu, od pěti hodin měsíčně po neomezený přístup, případně pevný stůl. Pokud potřebujete uspořádat malý meeting pro 5 lidí, prezentaci pro 20 klientů anebo přednášku pro 100 návštěvníků, najdeme spolu správné místo.
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-md-4 ct-u-marginBottom70">
                <div class="ct-iconBox ct-iconBox--default">
                    <div class="ct-iconBox-icon ct-iconBox-icon--default">
                        <i class="icon-global"></i>
                    </div>

                                        <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title text-lowercase ct-fw-600">
                           váš růst není jen o pracovním stole
                        </h4>

                        <p>
                            Paper Hub je součástí <a href="https://www.facebook.com/pages/Paraleln%C3%AD-Polis/690647371027036">Paralelní Polis</a>, jenž nabízí pravidelný program vzdělávacích a oddechových akcí, kulinářské zázemí zajištěné Bitcoin Coffee a technické podhoubí v podobě 3D tiskové dílny MakersLab.
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>


   <!--  <section class="ct-u-paddingBoth80"> -->
        <section class="ct-u-backgroundDarkGray ct-u-paddingBoth80">
        <div class="container">
            <div class="row">

                                <div class="col-md-4">
                    <header class="ct-pageSectionHeader">
                        <h3 class="text-uppercase ct-fw-600">
                            ČLENSTVÍ V PAPER HUBU
<!--                             <small class="ct-fw-700 text-uppercase">Design is not just what it looks like. Design is how
                                it works.
                            </small> -->
                        </h3>
                    </header>
                </div>
                <div class="col-md-8">
                    <p>
                        Každý člen Paper Hubu má možnost v rozsahu zvoleného tarifu (od 300 do 3000 Kč / měsíc) využívat kterékoliv volné pracovní místo ve sdíleném 

                        prostoru, kancelářské vybavení (tisk, scan, kopírování, wifi, projekční technika etc.), kuchyňku, terasu a zvýhodněnou možnost pronájmu zasedací 

                        místnosti. Nabízíme taktéž možnost pronajmout si svůj vlastní pracovní stůl. 

                        Členství se platí pomocí kryptoměny Bitcoin, s jehož používáním vás rádi seznámíme a pomůžeme rozměnění i platbu uskutečnit.
                    </p>
                </div>

            </div>
        </div>
    </section>



<section id="sendemail">
    <section class="ct-u-paddingTop50 ct-u-paddingBottom80 ct-u-borderBoth ct-u-backgroundGray">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-lowercase ct-fw-600">
                        ceník.
                    </h3>

                                        <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="update_btc_czk_price(300)">
                                        5h / měsíc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    Nejnižší členství v sobě zahrnuje 5 hodin měsíčně ve sdíleném pracovním prostoru. Tarif je ideální pro vyzkoušení, jak Vám takové pracovní prostředí vyhovuje, nebo pro nárazové návštěvy.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 300 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed"  onclick="update_btc_czk_price(1500)">
                                        25h / měsíc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Základní členství využijete, jestliže chcete v Paper Hubu pracovat pravidelně, ale stačí Vám na to méně než jeden den v týdnu. Tento tarif se hodí např. pro práci na určitém projektu, kterému se chcete věnovat koncentrovaně po určitý čas v měsíci.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 1500 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                       class="collapsed"  onclick="update_btc_czk_price(2000)">
                                        50h / měsíc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Rozšířené členství, které v tuto chvíli využívá nejvíce našich členů, v sobě zahrnuje kromě možnosti využívat sdílený prostor také zlevněný pronájem zasedacích místností.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 2000 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                                       class="collapsed" onclick="update_btc_czk_price(3000)">
                                        neomezený přístup
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Toto členství Vám zajistí neomezený přístup do sdíleného pracovního prostoru v rámci našich otvíracích hodin od pondělí do pátku od 8:00 do 20:00. Součástí tohoto tarifu je zamykatelná skříňka.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 3000 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                                       class="collapsed"  onclick="update_btc_czk_price(4500)">
                                        pevný pracovní stůl
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nabízíme také možnost pronajmout si svůj vlastní pracovní stůl. Toto řešení nejčastěji volí členové, kteří v Paper Hubu tráví velké množství času a při práci používají např. přídavné monitory, grafické tablety nebo jiná externí zařízení.
                                    <br style="color: #313842" />
                                    <strong style="color: #313842">Cena : 4500 kč / měsíc</strong>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-md-6">


                                        <h3 class="text-lowercase ct-fw-600">
                        Začínáte s bitcoinem?
                    </h3>

                    <p>
                        Pro běžné užívání Bitcoinu je důležité mít bitcoinovou peněženku. Tu si můžete buď stáhnout do svého chytrého telefonu, nebo si u

                        nás vytisknout papírovou v případě, že nemáte podporovaný telefon nebo nejste na internetu. Nejjednodušší cestou jak Bitcoiny 

                        získat je bitcoinový bankomat v naší kavárně. V bankomatu naskenujete QR kód, jenž vygeneruje Vaše peněženka pro vyžádání 

                        platby, a vložíte papírovou hotovost. Během pár sekund budete mít Bitcoiny ve své peněžence. A jak s nimi zaplatíte? Zkuste si to 

                        nejdříve u nás v Bitcoin Coffee. Při placení Vám ukážeme QR kód. Otevřete svou peněženku a kód naskenujete. Autorizujete 

                        zobrazenou částku a v tom okamžiku je účet vyrovnán. Placení členství v Paper Hub poté bude pro Vás hračka!
                    </p>

                    <!-- Kontakt -->
                    <div class="ct-contactForm">

                    </div>


                </div>


            </div>
        </div>
    </section>

<script type="text/javascript">
    
    function update_btc_czk_price(czk){

        return true;

        console.log(czk)
        
        var czk_price = document.getElementById("czk_price");
        var btc_price = document.getElementById("btc_price");

        czk_price.value = czk;
    }

    update_btc_czk_price(300);

</script>


<header class="ct-pageHeader ct-pageHeader--motive ct-pageHeader--hasDescription ct-u-paddingBoth10">
    <div class="container ct-u-triangleBottomLeft">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-lowercase ct-fw-600 ct-u-colorWhite">
                    Faq<sup><i class="fa fa-question-circle"></i></sup>
                </h1>
            </div>
            <div class="col-md-4">
                    <span class="ct-u-size20 ct-u-colorWhite">
                        Nebojte se zeptat.
                    </span>
            </div>
        </div>
    </div>
</header>

<section class="ct-u-paddingBottom150" id="send_me_something">
    <div class="container">
        <div class="row">

            <div class="col-md-6 ct-u-paddingTop70">
        <h3 class="ct-fw-600 text-lowercase">Mohlo by vás zajímat.</h3>

        <div class="panel-group ct--lightMotive" id="accordion-general">
                            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent=#accordion-general                               href="#collapse0" class="collapse">
                                <span>Kdy mohu chodit pracovat do Paper Hubu ?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse0"
                         class="panel-collapse collapse  in">
                        <div class="panel-body">
                            <span style="color: #313842">
                                
                                Každý člen obdrží vlastní klíč a v prostoru Paper Hubu může pracovat všechny pracovní dny vždy od 8:00 ráno do 20:00 do večera. Přístup mimo otvírací dny je možné individuálně domluvit.

                            </span>                        
                        </div>
                    </div>
                </div>
                                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent=#accordion-general                               href="#collapse1" class="collapsed">
                                <span>Mohu mít v Hubu vlastní monitor ?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1"
                         class="panel-collapse collapse  ">
                        <div class="panel-body">
                            <span style="color: #313842">
                                
                                Chápeme, že někteří členové potřebují využívat vlastní hardware (monitory, tablety apod.) a nechtějí jej pokaždé odnášet s sebou. Pro tento případ nabízíme v Paper Hubu zamykatelné skříňky. Ty jsou standardně součástí tarifu “Neomezený přístup”, ale lze ji nabídnout i k ostatním tarifům.

                            </span>                        
                        </div>
                    </div>
                </div>
                                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent=#accordion-general                               href="#collapse2" class="collapsed">
                                <span>Máte v Paper Hubu zasedací místnosti ?</span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2"
                         class="panel-collapse collapse  ">
                        <div class="panel-body">
                            <span style="color: #313842">
                                
                                Ano, je možné si rezervovat různé zasedací nebo konferenční místnosti pro setkání 2 až 100 lidí (prostory jsou vybaveny prezentační technikou, flipcharty apod). Za pozornost stojí naše jedinečná terasa, která je rovněž součástí Paper Hubu.

                            </span>                        
                        </div>
                    </div>
                </div>
            </div>
    </div>
    
            <div class="col-md-6 ct-u-paddingTop70">

                                        <h3 class="text-lowercase ct-fw-600">Napište nám.</h3>

                        <p>Máte jakýkoliv další dotaz, není vám něco jasné? Chcete si Paper Hub vyzkoušet? Určitě nás neváhejte kontaktovat, rádi se s Vámi potkáme a provedeme Vás celou Paralelní Polis.</p>

                        <div class="ct-contactForm" style="margin-top:50px">
                            <div class="successMessage alert alert-success" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                Děkujeme, Vaše zpráva byla přijata, budeme Vás obratem kontaktovat.
                            </div>
                            <div class="errorMessage alert alert-danger" style="display: none">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                Ups! An error occured. Please try again later.
                            </div>

                            <form role="form" action="http://formspree.io/hub@paralelnipolis.cz" method="post" class="contactForm validateIt" data-email-subject="Contact Form" data-show-errors="true">
                            <input type="hidden" name="_subject" value="Den na zkoušku v Paper Hub" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="contact_name" placeholder="Name" required type="text" name="name" class="form-control">
                                            <label for="contact_name">Jméno</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input id="contact_email" placeholder="Email" required type="email" name="_replyto" class="form-control">
                                            <label for="contact_email">Email</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <textarea id="contact_message" placeholder="Message" class="form-control" rows="8" name="body" required>
Ahoj,
rád bych se u vás stavil(a) na jeden den na zkoušku.
                                            </textarea>
                                            <label for="contact_message">Zpráva</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <button type="submit"
                                                class="btn ct-btn--perspective btn-primary btn-lg text-uppercase pull-right"><i
                                                class="fa fa-paper-plane"></i> Odeslat
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

            </div>
    
       </div>
    </div>
</section>


    <section class="ct-u-paddingBoth80 ct-u-backgroundDarkGray"  data-bg-image="/assets/images/content/bigImage1.jpg">
        <div class="container">
            <div class="row">

                                <div class="col-md-4">
                    <header class="ct-pageSectionHeader">
                        <h3 class="text-upperrcase ct-fw-600">
                            BITCOIN COFFEE
                            <small class="ct-fw-700 text-uppercase">Místo pro otevřené setkávání a diskuzi
                            </small>
                        </h3>
                    </header>
                </div>
                <div class="col-md-8">
                    <p>
                        Tomu odpovídá celý interiér kavárny i design baru. Můžete se kolem něj volně pohybovat a přímo tak vidět celý proces přípravy kávy. Téměř laboratorními postupy se snažíme "hacknout" kávová zrna a dostat z nich tu nejlepší chuť a aroma. Aktuální nabídku najdete <a href="https://www.facebook.com/bitcoincoffeeprague">zde</a>.<br> Těšíme se na Vás v první bitcoinové kavárně na světě!
                    </p>
                </div>

            </div>
        </div>
    </section>

<section class="ct-mediaSection ct-u-paddingBoth70 ct-u-colorWhite" data-height="700" data-type="video"
         data-bg-image-mobile="/assets/images/content/bigImage3-mobile.jpg">
    <div class="ct-mediaSection-video embed-responsive embed-responsive-16by9">

        <video id="video1" muted loop autoplay="autoplay" preload="auto">
            <source src='/assets/3D_timelapse_web_2.mp4' type='video/mp4'/>

        </video>
    </div>
    <div class="ct-u-displayTable">
        <div class="ct-mediaSection-inner">
            <div class="container">
                <div class="row">

                                        <div class="col-sm-4">
                        <header class="ct-pageSectionHeader">
                            <h3 class="text-uppercase ct-fw-600 ct-u-colorWhite">
                                3D tisk
                                <small class="ct-fw-700 text-uppercase ct-u-colorWhite">
                                    NAUČÍME VÁS TISKNOUT SPRÁVNĚ
                                </small>
                            </h3>
                        </header>
                    </div>
                    <div class="col-sm-8">
                        <p>
                            V Makers Lab pořádáme pravidelná setkání zaměřená na 3D tisk a vše s ním spojené. Dozvíte se zde, co je a jak funguje 3D tisk, jaký má v dnešní době potenciál a kam směřuje jeho vývoj. Můžete se také těšit na testování materiálu a tiskáren a především na přednášky zajímavých hostů. Program a bližší informace najdete <a href="http://makerslab.cz/">zde</a>.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<header class="ct-pageHeader ct-pageHeader--motive ct-pageHeader--hasDescription ct-u-paddingBoth10">
    <div class="container ct-u-triangleBottomLeft">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-lowercase ct-fw-600 ct-u-colorWhite">
                    Kde jsme<sup><i class="fa fa-paper-plane"></i></sup>
                </h1>
            </div>
            <div class="col-md-4">
                    <span class="ct-u-size20 ct-u-colorWhite">
                        Najdete nás kousek od tramvajové zastávky Dělnická v Praze 7.
                    </span>
            </div>
        </div>
    </div>
</header>

<div class="ct-googleMap" data-location="Dělnická 886/41 Praha" data-zoom="15" data-height="500"></div>


 

<footer class="ct-u-backgroundDarkGray ">
    <div class="container ct-u-paddingBoth50">
        <div class="row ct-u-borderLeft">
            <div class="col-sm-12 col-md-4 ct-u-paddingBoth20">
                <p>
                    <img src="/assets/images/pp.png" alt="Orlando Logo">
                    <br>
                    <br>
                     Příležitost i každodenní zázemí určené pro práci.
                </p>
            </div>
            <div class="col-sm-6 col-md-4 ct-u-paddingBoth30">

<!--                 <div class="widget">
                    <div class="widget-inner">
                        <h5 class="text-uppercase"><i class="fa fa-dot-circle-o"></i> Latest Projects</h5>
                        <ul>
                            <li>
                                <a href="#">Monster Cars - Website Redesign</a>
                            </li>
                            <li>
                                <a href="#">The House Of Arts - Branding Strategy</a>
                            </li>
                            <li>
                                <a href="#">Zillionare - Online Presentation</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="col-sm-6 col-md-4 ct-u-paddingBoth30">
                <h5 class="text-uppercase ct-fw-600"><i class="fa fa-dot-circle-o"></i>ozvěte se nám</h5>
                <br>
                <span class="h3 ct-fw-800" style="font-size:38px;"><span class="ct-u-colorDarkerGray">+420</span> 736 114 060</span>
                <br>
                <span class="text-uppercase ct-fw-600">DĚLNICKÁ 43, PRAHA 7, CZECH REPUBLIC</span>
                <br>
                <a href="mailto:hub@paralelnipolis.cz" class="text-uppercase ct-u-underline ct-fw-600">hub@paralelnipolis.cz</a>
                <br>
                <a href="https://www.facebook.com/paperhub"><i class="fa fa-fw fa-facebook-square"></i> facebook.com</a>
                <br>
                <a href="https://instagram.com/paper_hub/"><i class="fa fa-fw fa-instagram"></i> instagram.com</a>
                <br>
                <a href="https://twitter.com/Paper_Hub"><i class="fa fa-fw fa-twitter"></i> twitter.com</a>
                <br>
                <a href="https://plus.google.com/104114621737451145471/posts"><i class="fa fa-fw fa-google-plus"></i> Google Plus</a>
            </div>
        </div>
    </div>
    <div class="ct-footerBottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <div class="ct-socials">
                             <ul>
<!--                                 <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                            class="fa fa-fw fa-pinterest"></i></a>
                                </li> -->
                                <li>
                                    <a href="https://instagram.com/paper_hub/" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                            class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/paperhub" data-toggle="tooltip"
                                       data-placement="top" title="Facebook"><i class="fa fa-fw fa-facebook-square"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Paper_Hub" data-toggle="tooltip" data-placement="top"
                                       title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://plus.google.com/104114621737451145471/posts" data-toggle="tooltip" data-placement="top"
                                       title="Google"><i class="fa fa-fw fa-google-plus"></i></a>
                                </li>
<!--                                 <li>
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="LinkedIn"><i
                                            class="fa fa-fw fa-linkedin"></i></a>
                                </li> -->
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-65081690-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- JavaScripts -->

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.placeholder.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.js"></script>
<script src="/assets/js/device.min.js"></script>
<script src="/assets/js/jquery.browser.min.js"></script>
<script src="/assets/js/snap.min.js"></script>
<script src="/assets/js/jquery.appear.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/waypoints-sticky.min.js"></script>

<script src="/assets/js/main.js"></script>

<script src="/assets/js/ct-mediaSection/jquery.stellar.min.js"></script>
<script src="/assets/js/ct-mediaSection/init.js"></script>

<script src="/assets/js/charts/Chart.min.js"></script>
<script src="/assets/js/charts/init.js"></script>

<script src="/assets/js/flexslider/jquery.flexslider-min.js"></script>
<script src="/assets/js/flexslider/init.js"></script>

<script src="/assets/js/counter/jquery.countTo.js"></script>
<script src="/assets/js/counter/init.js"></script>

<script src="/assets/js/ct-portfolioAjax/init.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/gmaps/gmap3.min.js"></script>
<script src="/assets/js/gmaps/init.js"></script>

</body>
</html>